body {
  overflow-x: hidden;
  color: white;
  width: 100%;
}

.App {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container: hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.body-container {
  background-image: url(movie.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 1000;
}

.titleBar {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
}

.titleBar {
  /* background: #7f7fd5; */
  background-image: url(movie.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 1000;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  max-height: 100px;
  max-width: 100%;

}


.logo {
  height: 45px;
  width: 50px;
  margin-right: 30px;
}

.tbody>tr>td>h2 {
  position: absolute;
  float: right;
  right: 2%;
  top: 5px;
}

.input {
  position: relative;
  top: 50px;
  font-size: 22px;
  display: block;
  width: 90%;
  padding: 5px 0px;
  margin: 16px 50px;
}

input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  margin-bottom: 100px;
  cursor: pointer;
}

.input:hover {
  color: black;
}

.image-container .rounded {
  position: relative;
  width: 100%;
  height: 300px;
}

.form-group {
  position: absolute;
  top: 5em;
  border: 1px solid grey;
  padding: 2px;
  height: 120px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(movie.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 1000;
}

.desc-container {
  width: 70%;
}

.poster {
  width: 200px;
  height: 200px;
}

.container {
  /* background-color: aliceblue; */
  position: relative;
  padding: 5px;
  margin: 15px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 150px;
}

.overview {
  padding: 15px;
  margin: 10px;
}

.row {
  text-align: center;
}

.row .btn-primary {
  position: relative;
  left: 100px;
  top: -20px;
}

.vote {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 10px;
  padding: 5px;
}

.percent {
  display: flex;
  flex-direction: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 10;
  /* align-items: center; */
}

.isvote {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 32px;
  width: 100px;
  height: 50px;
  left: 10px;
  background-color: yellow;
  border-radius: 10%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.isvote h4 {
  position: relative;
  left: 5px;
  top: 5px;
  color: black;
}

.view-button {
  position: relative;
  left: -100px;
  top: 10px;
  padding: 5px;
  cursor: pointer;
}

.row .fa {
  margin: 0 40px;
  color: blue;

  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.row img {
  position: relative;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 160px;

  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.masterbody {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  z-index: -10;
}

.view {
  position: relative;
  top: 20px;
  float: left;
}


@media only screen and (max-width: 768px) {

  /* For desktop: */
  .container {
    width: 100%;
  }

  .container .form-group {
    width: 80%;
    align-items: center;
    left: -13%;
  }
}
