.titleBar {
  background: #7f7fd5;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}

.input {
  font-size: 22px;
  display: block;
  width: 90%;
  padding: 5px 0px;
  margin: 16px 50px;
}

.poster {
  width: 200px;
  height: 200px;
}

.container {
  background-color: aliceblue;
  padding: 5px;
  margin: 15px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview {
  padding: 15px;
  margin: 10px;
}

.row h3 {
  text-align: center;
  border-bottom: 3px dotted black;
}

.row .btn-primary {
position: relative;
left: 100px;
top: -20px;
}

.row .fa {
margin: 0 40px;
color: blue;
}

.row img {
  position: relative;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 160px;
}