.titleBar {
  background: #7f7fd5;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}

.input {
  font-size: 22px;
  display: block;
  width: 90%;
  padding: 5px 0px;
  margin: 16px 50px;
}

.poster {
  width: 200px;
  height: 200px;
}